

// --------------------------------------------------------------------------
//   TITLES COMPONENT
// --------------------------------------------------------------------------


.c-delimit {
	position: relative;
}

.c-delimit-rule {
	@include rule();
	opacity: 0.6;
	transform: translateY(16px);
	visibility: hidden;

	&--active {
		@include rule( palette(brand-complement) );
	}

	&--disabled {
		@include rule( palette(base) );
	}

	@include respond-to(xs) {
		transform: translateY(19px);
		visibility: visible;
	}
}

.c-delimit-block {
	background-color: palette(background);
	display: inline-block;
	padding: 0 space(0.5);
	position: relative;
}
