

// --------------------------------------------------------------------------
//   NAV COMPONENT
// --------------------------------------------------------------------------


.c-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;

	&.is-registered {
		background-color: palette(neutral);
		border-bottom: 1px solid palette(base);
	}
}

.c-nav {
	display: flex;
	height: rem(110);
	padding: space(0.9);
	position: relative;

	@include respond-to(xs) {
		padding: space(1);
	}
}


// Logo home link
// --------------------------------------------------------------------------

.c-nav-home {
	img {
		height: 60px;
	}
}


// Service provider / Admin status
// --------------------------------------------------------------------------

.c-nav-status {
	align-items: center;
	display: flex;
	height: 100%;
	margin-left: auto;
	position: relative;
}
