

// --------------------------------------------------------------------------
//   OBJECT: SVG ICONS
//   Ripped from OUI icons
// --------------------------------------------------------------------------


// .#{$namespace}Icon,
.Icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	fill: currentColor; // The color of the SVG will inherit the parent's `color`.

	@include on-event() {
		outline: 0;
	}

	&--sm {
		width: 12px;
		height: 12px;
	}

	&--md {
		width: rem(18);
		height: rem(18);
	}

	&--lg {
		width: rem(32);
		height: rem(32);
	}

	&--super {
		width: rem(40);
		height: rem(40);

		@include respond-to(xs) {
			width: rem(48);
			height: rem(48);
		}
	}

	&--left {
		margin-right: 5px;

		@include respond-to(xs) {
			margin-right: rem(7);
		}
	}

	&--leftSm {
		margin-right: 1px;

		@include respond-to(xs) {
			margin-right: rem(2);
		}
	}

	&--right {
		margin-left: 5px;

		@include respond-to(xs) {
			margin-left: rem(7);
		}
	}

	&--rightSm {
		margin-left: 1px;

		@include respond-to(xs) {
			margin-left: rem(2);
		}
	}

	// This is a vertical alignment fix when used to the right of `.#{$namespace}icon`.
	+ [class^="#{$namespace}-arrow-inline"] {
		vertical-align: super;
	}

	&--textAlign {
		// vertical-align: sub;
		line-height: inherit;
		transform: translateY(-2px);
		vertical-align: middle;
	}

	&--textLgAlign {
		transform: translateY(1px);
	}

	&--buttonAlign {
		line-height: inherit;
		transform: translateY(-2px);
		vertical-align: middle;
	}

	&--formAlign {
		position: relative;
		vertical-align: top;
	}

	&--mediaAlign {
		transform: translateY(rem(-4));
	}
}

/// Icon alignment fixes
/// @description Fix for icons inside buttons with text and icons inside tabs.

// .#{$namespace}button .#{$namespace}Icon {
//   vertical-align: sub;
// }
//
// .#{$namespace}tabs-nav__item .#{$namespace}icon {
//   vertical-align: sub;
// }
