

// --------------------------------------------------------------------------
// HELPERS
// --------------------------------------------------------------------------


.u-msm-posRelative { @include respond-to(max-sm) { position: relative; } }

.u-well {
	background-color: rgba( palette(neutral), 1 );
	border-radius: size(border-radius, base);
	padding: space(0.75) space(0.5) space(0.6);
}

.u-colorBrandCount  { color: palette(brand-counter) !important; }

.u-fullViewportHeight { height: 100vh; }


// Responsively
// --------------------------------------------------------------------------

@include respond-to(xs) {
	.u-xs-flex { display: flex !important; }
	.u-xs-flexAlignItemsCenter { align-items: center !important; }
}

@include respond-to(max-xs) {
	.u-mxs-size11of12 { width: 91.66666666666666% !important; }
}
